* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.speak-container {
  display: flex;
}
.speak-container > * {
  border-radius: 4px;
  border: none;
  padding: 0.5rem;
  margin-right: 0.3rem;
}
.voice-select option {
  font-size: 12px;
}
.word-input {
  min-width: 300px;
}
.word-input:focus {
  outline: none;
}
.speak-button {
  cursor: pointer;
}

.result-text {
  margin-top: 1rem;
  color: #fff;
  font-size: 18px;

  height: 100px;
  width: 400px;
  text-align: center;
  overflow-y: auto;
}
